.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background: navy;
  color: whitesmoke;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.cart {
  margin-left: auto;
  text-align: left;
}

.cart-items {
  height: 100%;
  position: fixed;
  width: 300px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: dodgerblue;
  overflow-x: hidden;
  transition: 0.5s;
}

.item {
  margin: 1em;
}

.products-list {
  text-align: center;
}

.product {
  width: 300px;
  padding: 1em;
  margin: 1em auto;
  background: papayawhip;
}

button {
  margin: 1em;
}
